[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"

[packages]
click = "*"
datasheets = "*"
flask = "*"
Python-dotenv = "*"
requests = "*"

[requires]
python_version = "3.6"